/* ОБЩИЕ СТИЛИ */

body {
 margin: 0;
 padding: 0;
 
 font-family: 'Roboto Slab', serif;
 font-size: 14px;
 line-height: 24px;
 font-weight: 400;
 color: #777777;
 
 background-color: #ffffff;
}


.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
} 

a {
   text-decoration: none;
   cursor: pointer;
}

img {
   max-width: 100%;
   height: auto; 
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

input {
   font: inherit;
   margin: 0;
   padding: 0;
   border: none;
}


/*блок-центровщик*/

.container {
   width: 75%;
   margin: 0 auto; 
}

@media only screen and (max-width : 1200px) {
   .container {
      width: 80%;
   }
}

@media only screen and (max-width : 900px) {
   .container {
      width: 85%;
   }
}

@media only screen and (max-width : 500px) {
   .container {
      width: 90%;
   }
}


.flex-container {
   display: flex;
   justify-content: flex-start;
}


/*КНОПКИ*/

.main-btn {
   display: block;
   box-sizing: border-box;
   width: 240px;
   height: 65px;
   padding: 20px 0;
   margin: 0 auto;

   text-align: center;
   background-color: #fed136;
   border: none;
   border-radius: 2px;

   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   color: #ffffff;
   line-height: 25px;
   color: #ffffff;
   font-weight: 700;
   text-transform: uppercase;

   cursor: pointer;

   transition-duration: 0.5s;
   transition-property: background-color;
}

.main-btn:hover {
   background-color: #CF5658;
}

/*Общие классы*/

.section-title {
   margin: 0;
   padding: 0;
   margin-top: 115px;
   margin-bottom: 10px;

   font-family: 'Montserrat', sans-serif;
   font-size: 40px;
   line-height: 45px;
   text-transform: uppercase;
   color: #222222;
   font-weight: 700;

   text-align: center;
}

.section-subtitle {
   margin: 0;
   padding: 0;
   margin-bottom: 77px;

   font-family: "DroidSerif Italic";
   font-size: 16px;
   line-height: 25px;
   color: #777777;

   text-align: center;

}


/* ========== HEADER =============*/


.header {
   position: relative;
   width: 100%;
   height: 700px;
   background-image: url("../img/main-photo.png");
   background-repeat: no-repeat;
   background-size: 100% auto;

   border-top: 1px solid transparent;
}


/*логотип*/
.header__logo {
   display: block;
   flex-shrink: 0;
   margin-top: 45px;
   margin-bottom: 20px;
   width: 85px;
   height: 35px;
}


/*ГЛАВНОЕ МЕНЮ*/

.main-menu {
   display: flex;
   justify-content: flex-start;
   position: relative;
}

.main-nav {
   flex-wrap: wrap;
}

/*местоположение меню*/
.header__menu {
   margin-left: auto;
   margin-top: 50px; 
}

.main-menu__item:not(:first-child) {
   margin-left: 40px;
}

/*оформление ссылок меню*/
.main-menu__link,
.mobile-menu__link {
   font-family: 'Montserrat', sans-serif;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: 600;
   transition-duration: 0.5s;
   transition-property: color;
}

.main-menu__link:hover,
.mobile-menu__link:hover {
   color: #fed136;
}



/*кнопка-бургер*/
.mobile-nav-btn {
   width: 50px;
   height: 25px;
   font-size: 0;
   background-color: transparent;
   border: none;
   outline: none;
   cursor: pointer;
   z-index: 2;
}

/*внешний вид кнопки-бургера*/
.mobile-btn--closed .mobile-nav-btn::before {
   content: "";
   position: absolute;
   top: 1px;
   left: 0;
   width: 45px;
   height: 4px;
   background-color: #ffffff;
   box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
   transition-duration: 0.5s;
   transition-property: background-color, box-shadow;
}

.mobile-btn--closed:hover .mobile-nav-btn::before {
   background-color: #fed136;
   box-shadow: 0 10px 0 0 #fed136, 0 20px 0 0 #fed136;
}

.mobile-btn--closed:active .mobile-nav-btn::before {
   background-color: rgba(182, 150, 42, .6);
   box-shadow: 0 10px 0 0 rgba(182, 150, 42, .6),
   0 20px 0 0 rgba(182, 150, 42, .6);
}

/*местоположение кноки-бургера*/
.header__mobile-nav-btn {
   position: absolute;
   top: 45px;
   right: 35px;
   display: none;
}

/*кнопка меню в открытом виде-КРЕСТИК*/

.mobile-btn--opened .mobile-nav-btn::before,
.mobile-btn--opened .mobile-nav-btn::after {
   content: "";
   position: absolute;
   top: 8px;
   width: 25px;
   height: 4px;
   background-color: #ffffff;
   transition-duration: 0.5s;
   transition-property: background-color, box-shadow;
}

.mobile-btn--opened:hover .mobile-nav-btn::before,
.mobile-btn--opened:hover .mobile-nav-btn::after {
   background-color: #fed136;
}

.mobile-btn--opened:active .mobile-nav-btn::before,
.mobile-btn--opened:active .mobile-nav-btn::after {
   background-color: rgba(182, 150, 42, .6);
}

.mobile-btn--opened .mobile-nav-btn::before {
   transform: rotate(45deg);
   box-shadow: none;
}

.mobile-btn--opened .mobile-nav-btn::after {
   transform: rotate(-45deg);
}


/*Мобильное меню*/

.header__mobile-menu {
   position: absolute;
   top: 100px;
   left: 0;
   z-index: 10;
   width: 100%;
}

.mobile-menu {
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   background-color: #373737;
   display: none;
}

.mobile-menu__item {
   width: 100%;
   text-align: center;
   padding-top: 15px;
   padding-bottom: 15px;
   border-bottom: 1px solid #000000;
   border-top: 1px solid #485461;
}

.mobile-menu__link {
   display: block;
}


/*Заголовки*/

.main-subtitle {
   font-family: "DroidSerif Italic";
   font-size: 30px;
   font-weight: normal;
   color: #ffffff;
   text-align: center;
}

.header__main-subtitle {
   margin-top: 13.5%;
}

.main-title {
   font-family: 'Montserrat', sans-serif;
   font-size: 75px;
   font-weight: 700;
   text-transform: uppercase;
   color: #ffffff;
   text-align: center;
}

.main-title--gold {
   color: #fed136;
}

.header__main-title {
   margin-top: 80px;
}

/*Кнопка*/

.header__btn {
   margin-top: 60px;
}

/*JS-классы для Хедера*/

.js-show-mobile {
   display: block;
}

.js-mobile-menu-styles {
   position: static;
   background-color: #373737;
   border-bottom: 1px solid #485461;   
}


/* ========= SECTION УСЛУГИ =========*/

.services {
   border-top: 1px solid transparent;
}

/*список услуг*/
.services__list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.services__list-item {
   position: relative;
   width: 300px;
   margin: 0 auto;
   margin-bottom: 100px;
   box-sizing: border-box;
}

/*иконки услуг*/
.services__list-item::before {
   content: "";
   position: absolute;
   top: 0;
   left: 112px;
   width: 75px;
   height: 74px;
   z-index: 10;

   background-repeat: no-repeat;
}

.services__list-item1::before {
   background-image: url("../img/bucket-icon.png");
}

.services__list-item2::before {
   background-image: url("../img/responsive-icon.png");
}

.services__list-item3::before {
   background-image: url("../img/security-logo.png");
}

/*заголовок услуг*/
.services__item-title {
   margin: 0;
   padding: 0;
   margin-top: 95px;
   margin-bottom: 15px;

   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: 700;
   color: #222222;
   text-align: center;
}

/*текст услуг*/

.services__item-text {
   padding: 0;
   margin: 0;
   margin-bottom: 15px;
   padding-left: 5px;
   padding-right: 5px;
   text-align: center;
}



/* ========= SECTION ПОРТФОЛИО =========*/


.portfolio {
   border-top: 1px solid transparent;
   background-color: #f7f7f7;

}

/*портфолио список*/
.portfolio__list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.portfolio__list-item {
   width: 290px;
   margin: 0 auto;
   margin-bottom: 50px;
   box-sizing: border-box;
}

/*картинка портфолио*/
.portfolio__list-item:hover img {
   filter: opacity(45%);
   -webkit-filter: opacity(45%);
   -moz-filter: opacity(45%);

   transition-duration: 0.5s;
   transition-property: filter;
}

/*заголовок портфолио*/
.portfolio__item-title {
   margin: 0;
   padding: 0;
   margin-top: 30px;
   margin-bottom: 5px;

   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: 700;
   color: #333333;
   text-align: center;
}

/*текст портфолио*/

.portfolio__item-text {
   padding: 0;
   margin: 0;
   margin-bottom: 25px;

   font-family: "DroidSerif Italic";
   font-size: 14px;
   line-height: 20px;
   color: #737373;
   text-align: center;
}

/* ========= SECTION О НАС =========*/

.about-us {
   position: relative;
   border-top: 1px solid transparent;

   /*временно*/
   min-height: 1666px;
}

/*запись*/

.journal__item {
   position: relative;
   width: 100%;

/*пробно*/
   display: flex;
   justify-content: flex-start;
}

.about-us__journal-item {
   margin-bottom: 100px;
}

/*отдельные маргины для более больших или малых блоков текста
чтобы картинки смотрелись выровнеными*/
.about-us__journal-item--big {
   margin-bottom: 80px;
}

.about-us__journal-item--small {
   margin-bottom: 120px;
}

.about-us__text-wrapper {
   box-sizing: border-box;
   width: 325px;
}


/*расположение блоков текста на странице*/
.about-us__text-wrapper--left {
   margin-right: auto;
   text-align: right;
}

.about-us__text-wrapper--right {
   margin-left: auto;
   text-align: left;
}


/*для всех p в записи*/
.about-us__text {
   margin: 0;
   padding: 0;
}


/*Оформление текста*/
.journal__date {
   margin-bottom: 7px;

   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   line-height: 25px;
   font-weight: 700;
   color: #222222;  
}

.journal__title {
   margin-bottom: 15px;

   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   line-height: 25px;
   font-weight: 700;
   color: #222222;
}

.journal__text {
   margin-bottom: 15px;
}

/*картинка*/
.journal__img {
   position: absolute;
   top: 0;
   left: calc(50% - 90px);
   width: 183px;
   height: 183px;
   z-index: 10;
}

.journal__item::after {
   content: "";
   position: absolute;
   top: 181px;
   left: calc(50% - 2px);
   width: 4px;
   height: 130px;
   z-index: 10;

   background-color: #f5f5f5;
}