
@media only screen and (max-width : 1400px) {
   /*Хедер*/
   .header__main-subtitle {
      margin-top: 12%;
   } 

   .header__main-title {
      margin-top: 70px;
      font-size: 65px;
   }  

}

@media only screen and (max-width : 1200px) {
   /*кнопка*/
   .main-btn {
      width: 230px;
      height: 60px;
      font-size: 17px;
      padding-top: 18px;
   }

   /*Хедер*/
   .header__main-subtitle {
      margin-top: 10%;
   } 

   .header__main-title {
      margin-top: 70px;
      font-size: 65px;
   }

  /*заголовки секций*/
   .section-title {
      margin-top: 100px;
   }

   /*секция services*/
   .services__list-item {
      margin-bottom: 65px;
   }

   /*секция about us*/

   .journal__img {
      position: static;
   }

   .about-us__journal-item--big,
   .about-us__journal-item--small {
      margin-bottom: 100px;
   }

   .journal__item::after {
      display: none;
   }

}

@media only screen and (max-width : 1000px) {
   /*Хедер*/
   .header__main-subtitle {
      font-size: 25px;
      margin-top: 9%;
   } 

   .header__main-title {
      margin-top: 50px;
      font-size: 50px;
   }

   .header__btn {
      margin-top: 40px;
}    

}


@media only screen and (max-width : 900px) {
   /*Хедер*/
   .main-menu__link {
      font-size: 13px;
   }

   .header__menu {
      margin-top: 50px;
   }

   .header__main-subtitle {
      display: none;
   } 

   .header__main-title {
      margin-top: 80px;
      font-size: 45px;
      line-height: 50px;
   }  

}


@media only screen and (max-width : 800px) {
   /*кнопка*/
   .main-btn {
      width: 210px;
      height: 55px;
      font-size: 15px;
      line-height: 20px;
      padding-top: 18px;
   }

   /*Хедер*/
   .header__main-title {
      margin-top: 51px;
      font-size: 35px;
      line-height: 45px;
   } 

   /*Форма*/
   .contact__form-wrapper {
      width: 100%;
   }

   .form__btn {
      margin-top: 0px;
      margin-bottom:  30px;
   }
}


@media only screen and (max-width : 768px) {
   /*Хедер*/
   .main-menu {
      display: none;
   }

   .header__mobile-nav-btn {
      display: block;
   }

   .header__main-title {
      margin-top: 55px;
      font-size: 35px;
      line-height: 45px;
   } 

   .header__btn {
      margin-top: 30px;
   } 

   /*заголовки секций*/
   .section-title {
      margin-top: 90px;
   }

   .section-subtitle {
      margin-bottom: 75px;
   }

   /*секция services*/
   .services__list-item {
      margin-bottom: 40px;
   }   
   
}

@media only screen and (max-width : 700px) {
   /*Хедер*/
   .header__main-title {
      margin-top: 30px;
      font-size: 35px;
      line-height: 45px;
   } 
}



@media only screen and (max-width : 650px) {
   /*кнопка*/
   .main-btn {
      width: 200px;
      height: 45px;
      font-size: 14px;
      line-height: 18px;
      padding-top: 14px;
   }

   /*Хедер*/
   .header__main-title {
      margin-top: 35px;
      font-size: 25px;
      line-height: 35px;
   } 

    /*секция about us*/
   .journal__item {
      flex-wrap: wrap;
   }

   .about-us__journal-item {
      margin-bottom: 75px;
   }

   
   .about-us__text-wrapper--left,
   .about-us__text-wrapper--right {
      margin: 0 auto;
      text-align: center;
   }

   .about-us__text-wrapper--right {
      order: 1;
   }

   .journal__img--order2 {
      order: 2;
   }

   .about-us__text-wrapper {
      width: 355px;
      margin-bottom: 60px;
   }

   .journal__img {
      margin: 0 auto;
   }
}

@media only screen and (max-width : 550px) {
   /*Хедер*/
   .header__main-title {
      margin-top: 15px;
   } 

   .header__btn {
      margin-top: 20px;
   }

  /*заголовки секций*/
   .section-title {
      font-size: 25px;
      line-height: 30px;
      margin-top: 50px;
   }

   .section-subtitle  {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 50px;
   }

   /*секция services*/
   
   .services__item-text {
      margin-bottom: 10px;
   }
}

@media only screen and (max-width : 500px) {
   /*Хедер*/
   .header__logo {
      margin-top: 20px;
   }

   .header__mobile-menu {
      top: 75px;
   }

   .header__mobile-nav-btn {
      top: 23px;
      right: 25px; 
   }

   .header__btn {
      margin-top: 10px;
   }  

}

@media only screen and (max-width : 450px) {
   /*кнопка*/
   .main-btn {
      width: 160px;
      height: 35px;
      font-size: 13px;
      line-height: 18px;
      padding-top: 9px;
   }
}

@media only screen and (max-width : 400px) {
   /*Хедер*/
   .header__main-title {
      margin-top: 3px;
      font-size: 20px;
      line-height: 25px;
   } 

   .header__btn {
      margin-top: 0px;
   } 

}







@media only screen and (min-width : 768px) {
   /*Хедер*/
   .mobile-menu {
      display: none; 
   }

   .js-mobile-menu-styles {
      background-color: transparent;
      border-bottom: none;
   }
}